@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    background-color: #121212;
    color: white;
}